body {
    background-color: black;
    font-family: "Arial", Helvetica, sans-serif;
    margin-left: 5%;
    margin-top: 5%;
}

h1 {
    color: white;
    font-size: 28px;
    margin-bottom: -20px;
}

p:first-of-type {
    font-size: 14px;
}

p {
    color: #ADADAD;
    font-size: 18px;
}

a {
    color: #ADADAD;
    font-size: 18px;
    font-weight: bold;
}

.socials {
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.socials a {
    margin-right: 10px;
}